@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.logo{
    padding: 2rem;
}

.logo img{
    width: 15rem;
}


.d-flex {
    display: flex;
    justify-content: center;
    padding: 1.3rem;
    gap: 1.3rem;

}

.form {
    flex: 1;
    max-width: 40%; 
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form h1 {
    text-align: center; 
    margin-bottom:1.2rem;
}

.form p {
    margin-bottom: 1rem;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="email"],
.form input[type="tel"] {
    width: 100%; 
    padding: 0.625rem; 
    margin: 0.3rem 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.genero {
    margin-top: 1.3rem;
}

.genero p {
    margin-bottom: 0.625rem;
}

.genero label {
    margin-bottom: 0.5rem; 
}

.preco {
    flex: 1;
    max-width: 40%; 
    padding: 1.3rem;
}

form{
    margin-top: 2rem;
}

form p > input{
    padding: 0.5rem;
    width: 18rem;
    border: none;
    border-bottom:1px solid black ;
    margin-bottom: 2rem;
}

.genero p{
    font-size: 18px;
    margin-bottom: 1rem;
}

.genero label{
    font-size: 15px;
    margin-left: 1rem;
}

.preco{
    padding: 2rem;
}

.preco p{
    font-weight: 600;
}