.bg-sobrenos {
    position: relative;
    text-align: center;
    padding: 12rem 0;
    background-color: black;
    margin-bottom: 5rem;
    color: white; /* Para garantir que o texto fique visível */
}

.bg-sobrenos .flex {
    content: "";
    background-image: url("../imgs/equipments-gym.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

